/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/10/2018, 15:24:20
    Author     : tiago.schmidt
*/
body {
    font-family: cursive;
    color: #000066;
}
form {
    width: 25vw;
    border: black 2px solid;
    padding: 1rem;
    margin: 0 auto;
    background-color: #cccccc;
    border-radius: 1rem;
}

.lista-apolice{
    background-color: #ccccff;
    margin-top: 1rem;
}

h3{
    margin: 0 auto;
}

span{
   margin-top: 2rem;
}

fieldset{
    background-color: white;
    border: black 2px solid;
    border-radius: 1.5rem;
}

legend{
    font-size: 110%;
    font-weight: bold; 
}

p{
    color:red;
}