<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <title>Pokedex - VueJs</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="css/pokedex.css">
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">  
</head>
<body>
  
  <section id="meuPrimeiroApp"> 
    <div id="tela-busca">
          <span class="red circle">0</span>
          <span class="yellow circle">0</span>
          <span class="green circle">0</span>
      <input type="text" placeholder="de 0 a 802" v-on:blur="buscar()" v-model="idParaBuscar" id="inputId"> 
      <div id="dadosPokemon">   
        <img v-show="pokemon.id" v-bind:src="pokemon.thumbUrl" v-bind:alt="pokemon.nome">       
        <h1 v-show="!pokemon.id">Carregando...</h1>
        <h1 v-show="pokemon.id">{{pokemon.nome}}</h1>  
        <div v-show="pokemon.id" id="mostra-dados">    
          <ul>
            <li id="pokemonAtual">ID: {{pokemon.id}}</li>
            <li >Altura: {{pokemon.altura}}cm</li>
            <li >Peso: {{pokemon.peso}}kg(s)</li>
          </ul>
          <div>
            <ul class="type-stat">
              <h2 v-show="pokemon.id">Tipos:</h2>
              <li v-for="tipo in pokemon.tipos">{{ tipo }}</li>
            </ul>
            <ul class="type-stat">
              <h2 v-show="pokemon.id">Stats:</h2>
              <li v-for="stat in pokemon.stats">{{ stat }}</li>
            </ul>
          </div>
        </div>
      </div>
      <button id="sorte" v-on:click="gerarPokemonAleatorio()">Estou com sorte!</button>
    </div>         
  </section>
  <script src="src/pokeAPI.js"></script>
  <script src="src/pokemon.js"></script>
</body>
</html>
