html{
  font-size: 9px;
  font-family: Arial;
}

.grid-container {
  display: grid;
  grid-template-columns: 23rem 11.5rem 23rem;
  grid-template-rows: 23rem 11.5rem 23rem;
  position: relative;
  float: left;
}

.grid-container2 {
  display: grid;
}

.stripe{
  width: 100%;
  height: 11.5rem;
}

.grid-container3 {
  display: grid;
  clear: both;
}

.white{
	background-color: white;
}

.blue{
	background-color: #233e89;
}
