.red{
	background-color: red;
}

.stripe1, .stripe2{
	width: 100%;
	height: 25%;
}

.stripe1{
	top: 0;
	position:absolute;
}

.stripe2{
	bottom: 0;
	position:absolute;
}

img{
	position: absolute;
	left: 38.5%;
	top: 27.5%
}