.red {
  background-color: red;
}
.white {
  background-color: white;
}
.circle {
  height: 30vh;
  width: 14vw;
  border-radius: 100%;
  
  position:relative;
}
.great-square {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  border: 5px solid #000000;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
