.stripe {
	width: 100%;
	height: 33.3333%;
	position: absolute;
}

.black{
	background-color: black;
}

.red{
	background-color: red;
	top: 33.3333%;
}

.yellow{
	background-color: yellow;
	top: 66.6666%;
}