<template>
  <section class="pokedex mx-auto mt-4 pb-1">
    <h2 class='mb-3 mt-2'>Selecione o tipo dos pokemons que deseja buscar:</h2>
    <TabelaPokemons v-bind:pokemonsPagina="pokemonsDoTipoSelecionado" class="w-85" v-show='opcaoSelecionada.texto'/>
    <Button v-on:click.native="voltarPagina" v-show="opcaoSelecionada.texto" v-bind:texto="btnVoltarPg" :disabled="desabilitarBtnAnterior"/>
    <Button v-on:click.native="pularPagina" v-show="opcaoSelecionada.texto" v-bind:texto="btnProximaPg" :disabled="desabilitarBtnProximo"/>
    <select v-model="opcaoSelecionada" v-on:change="atualizarTabela" class="mb-3 mx-auto mt-3">
      <option v-for="opcao in opcoes" v-bind:key="opcao.id" v-bind:value="opcao">
        {{ opcao.texto }}
      </option>
    </select>
    <p v-show="opcaoSelecionada.texto">Pág: {{paginaAtual}}</p>
  </section>
</template>

<script>
import PokeApi from '../../api/pokeApi.js'
import TabelaPokemons from '../shared/TabelaPokemons.vue'
import Button from '../shared/Button.vue'

export default {
  name: 'Home',
  data: () => {
    return {
      usuario: '',
      opcoes: tiposPokemon,
      opcaoSelecionada: {},
      pokemonsDoTipoSelecionado: [],
      btnVoltarPg: 'Anterior',
      btnProximaPg: 'Próxima',
      paginaAtual: 1,
      desabilitarBtnAnterior: true,
      desabilitarBtnProximo: false
    }
  },
  components: {
    TabelaPokemons,
    Button
  },
  methods: {
    async atualizarTabela() {
      const pokeApi = new PokeApi('https://pokeapi.co/api/v2/pokemon')
      this.pokemonsDoTipoSelecionado = await pokeApi.listarPorTipo( this.opcaoSelecionada.id, pokemonsPorPagina, this.paginaAtual)
      this.desabilitarBtnProximo = true ? this.pokemonsDoTipoSelecionado.length<10 : this.desabilitarBtnProximo = false 
    },
    pularPagina(){
      this.paginaAtual++
      this.atualizarTabela()
      this.desabilitarBtnAnterior = false
    },
    voltarPagina(){
      this.paginaAtual--
      if(this.paginaAtual === 1)
        this.desabilitarBtnAnterior = true
      this.atualizarTabela()
    }
  },
  created() {
    this.usuario = this.$route.params.usuario
  }
}

const pokemonsPorPagina = 10

const tiposPokemon = [ 
  { id: 1, texto: 'Normal' },
  { id: 2, texto: 'Lutador' },
  { id: 3, texto: 'Voador' },
  { id: 4, texto: 'Veneno' },
  { id: 5, texto: 'Terra' },
  { id: 6, texto: 'Pedra' },
  { id: 7, texto: 'Inseto' },
  { id: 8, texto: 'Fantasma' },
  { id: 9, texto: 'Aço' },
  { id: 10, texto: 'Fogo' },
  { id: 11, texto: 'Água' },
  { id: 12, texto: 'Planta' },
  { id: 13, texto: 'Elétrico' },
  { id: 14, texto: 'Psíquico' },
  { id: 15, texto: 'Gelo' },
  { id: 16, texto: 'Dragão' },
  { id: 17, texto: 'Trevas' },
  { id: 18, texto: 'Fada' }
]

</script>

<style scoped>
  select{
    width: 12rem;
    border-radius: 1rem;
    display: block;
  }
  h3{
    font-size: 1.3rem;
  }
  .pokedex{
    border: .2rem solid #000;
    width: 75%;
    border-radius: 1.5rem;
    color: #fff;
    background-image: radial-gradient(rgb(230, 80, 34) 80%,rgb(235, 35, 0))
  }
  .w-85{
    width: 85%;
  }
  button{
    border: .1rem solid #fff;
  }
  button:hover{
    background-color: rgb(0, 9, 139);
  }
</style>
