<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Apolice</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/apoliceCss.css" th:href="@{/apoliceCss.css}" rel="stylesheet" />
    </head>
    <body>
        <h2>Lista de Apolices</h2>
        <div th:unless="${#lists.isEmpty(apolices)}">
            <div th:each="apolice : ${apolices}">
                <fieldset class="lista-apolice">
                    <div>ID: <span th:text="${apolice.id}">ID</span></div>
                    <div>Descrição: <span th:text="${apolice.descricao}">Descrição</span></div>
                    <div>Inicio: <span th:text="${apolice.inicioVigencia}">Início Vigência</span></div>
                    <div>Fim: <span th:text="${apolice.finalVigencia}">Final Vigência</span></div>
                </fieldset>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(apolices)}">
            <p>Nenhuma Apolice Cadastrada</p>
        </div>
        <hr />
        <h3>Adicione uma nova apolice</h3>
        <form method="POST">
            <fieldset>
                <legend>Apolice:</legend>
                Desc: <input type="text" name="descricao" maxlength="100"><br>
                Inic : <input type="text" name="inicioVigencia" maxlength="100"><br>
                Fim : <input type="text" name="finalVigencia" maxlength="100"><br><br>
                <input type="submit" value="Salvar"/>
            </fieldset>
        </form>
    </body>
</html>
