*{
  margin: 0;
}
h1{
  text-align: center;
}

.informacoes-basicas{
  position: relative;
  padding-bottom: 35px;
  border-bottom: #0c0a08 solid 2px;
  margin-top: 30px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 0px;
  width: 90%;
  text-align: justify;
}

a{
  color: #ff5964;
  text-decoration: none;
}

a:hover{
  color: #7f2c32;
}

p{
  position: relative;
  letter-spacing: 1.5px;
  line-height: 30px;
  font-size: 1.1em;
  color: #0c0a08;
}

footer, p{
  font-family: 'Roboto Condensed', serif;
}

header {
  top: 0;
  width: 100%;
  font-size: 20px;
  font-family: Pacifico, fantasy; 
  padding-left: 40px;
  padding-bottom: 10px;
  color:#ffffff;
  background-color: #0c0a08;
}

header h1{
    vertical-align: middle;
    padding-right: 50px;
}

h2{
  position: relative;
  font-family: Pacifico, fantasy; 
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.lugares{
  text-align: center;
  padding-bottom: 35px;
  border-bottom: #0c0a08 solid 2px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 0px;
  width: 90%;
}

footer {
  font-size: 1.2em;
  color:#ffffff;  
  bottom: 0;
  background-color: #0c0a08;
  padding: 30px 0 30px;
  padding-left: 20px;
  width:100%;
}

#navbar img{
  height: 30px;
  width: 35px;
}

.turismo{
  text-align: center;
  padding-bottom: 35px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 0px;
  width: 90%;
}

footer span{
  position: relative;
  bottom: 5px;
  left: 20px;
}

footer img{
  position: relative;
  float:left;
}
.turismo img{
  border-radius: 10px;
}
#red{
  color: red;
}
#blue{
  color: rgb(10, 80, 233);
}

#bandeira {
  width: 160px;
  margin-top: 30px;
}
