*{
  margin:0;
}

.flex-container1{
  display:flex;
}

.flex-container2{
  display:flex;
}

.flex-container3{
  display:flex;
}

.white{
  background-color: white;
}

.blue{
  background-color: #061A40;
}

.block1 {
  width: 25%;
  height: 268.5px;
}
.block2 {
  width: 10%;
  height: 268.5px;
}
.block3 {
  width: 65%;
  height: 268.5px;
}
.block4 {
  width: 25%;
  height: 120px;
}
.block5 {
  width: 10%;
  height: 120px;
}
.block6 {
  width: 65%;
  height: 120px;
}
.block7 {
  width: 25%;
  height: 268.5px;
}
.block8 {
  width: 10%;
  height: 268.5px;
}
.block9 {
  width: 65%;
  height: 268.5px;
}
