*{
  margin:0;
}

html{
  font-family: Arial;
  font-size: 10px;
}

.grid-container{
  display:grid;
  grid-template-columns: 40rem 10.5rem 86.1rem;
  grid-template-rows: 27.6rem 10.5rem 27.6rem;
}

.white{
  background-color: white;
}

.blue{
  background-color: #061A40;
}

.grid-item1,.grid-item7{
  background-color: white;
}

.grid-item4,.grid-item5,.grid-item6{
  background-color: #061A40;
}

.grid-item2,.grid-item8{
  background-color: #061A40;
}

.grid-item3,.grid-item9{
  background-color: white;
}
