*{
  margin:0;
}

.flag{
  width: 100%;
  height: 100%;
  position: absolute;
}

.black{
  background-color: black;
}

.yellow{
  background-color: yellow;
}

.red{
  background-color: red;
}

.stripe{
  width: calc(100% / 3);
  height: 100%;
  float:left;
}
