<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>VueJs</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="css/pokedex.css">
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
</head>
<body>
  
  <section id="meuPrimeiroApp"> 
    <div id="tela-busca">
      <input type="text" placeholder="de 0 a 802" v-on:blur="buscar()" v-model="idParaBuscar" id="inputId"> 
      <div id="dadosPokemon">        
        <img v-show="pokemon.id" v-bind:src="pokemon.thumbUrl" v-bind:alt="pokemon.nome">       
        <h1 v-show="!pokemon.id">Carregando...</h1>
        <h1>{{pokemon.nome}}</h1>  
        <div v-show="pokemon.id" id="mostra-dados">    
          <ul >
            <h2 v-show="pokemon.id">Tipos:</h2>
            <li v-for="tipo in pokemon.tipos">{{ tipo }}</li>
          </ul>
          <ul >
            <h2 v-show="pokemon.id">Stats:</h2>
            <li v-for="stat in pokemon.stats">{{ stat }}</li>
          </ul>
        </div>
      </div>
    </div>         
  </section>
  <script src="src/pokeAPI.js"></script>
  <script src="src/pokemon.js"></script>
  <script src="src/app.js"></script>
</body>
</html>
