<template>
  <button class="btn btn-primary">{{ texto }}</button>
</template>


<script>
export default {
  name: 'Button',
  props: {
    texto: String
  }
}
</script>

<style>
  button:active{
    transform: scale(.9);
  }
</style>
