<template>
  <div class="form-group ">
    <label for="exampleInputEmail1">Email</label>
    <input type="text" v-validate="'required|email-dbc'" v-bind:name="nome" v-model="valor" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="usuario@email.com" autocomplete="off">
    <small id="emailHelp" class="form-text text-muted">Não vamos compartilhar seu email com ninguém.</small>
    <span class="erro">{{ errors.first( this.nome ) }}</span>
  </div>
</template>
<script>
export default {
  name: 'EmailInput',
  props: {
    nome: String
  },
  data: () => {
    return {
      valor: ''
    }
  }
}
</script>

<style>
  .erro{
    border-radius: .5rem;
    padding: .3rem;
    color: red;
  }
</style>
