<template>
  <tr v-bind:key="pokemon.id" v-bind:value="pokemon">
    <th class='align-middle' scope="row">{{ pokemon.id }}</th>
    <td class='align-middle coluna'>{{ pokemon.nome }}</td>
    <td class='align-middle coluna'> <img class="light-background" v-bind:src="pokemon.thumbUrl"/> </td>
    <td class='align-middle coluna'>{{ pokemon.altura }}cm</td>
    <td class='align-middle'>{{ pokemon.peso }}kg(s)</td>
  </tr>
</template>

<script>
import Pokemon from '../../models/pokemon.js'

export default {
  name: 'PokemonLinha',
  props: {
    pokemon: Pokemon
  }
}
</script>

<style scoped>
  .light-background{
    background-image: radial-gradient(#fff,rgb(0, 177, 147)110%) !important;
    border: .1rem solid #fff;
    border-radius: .8rem;
  }
  .coluna{
    border-left: .2rem solid #fff;
    border-right: .2rem solid #fff;
    border-collapse: collapse;
  }
</style>
