<template>
  <table class="table mx-auto">
  <thead>
    <tr>
      <th scope="col-2">Id</th>
      <th scope="col-4">Nome</th>
      <th scope="col-4">Thumb</th>
      <th scope="col-2">Altura</th>
      <th scope="col-2">Peso</th>
    </tr>
  </thead>
  <PokemonLinha v-for="pokemon in pokemonsPagina" v-bind:pokemon="pokemon" :key="pokemon.id"/>
</table>
</template>

<script>
import PokemonLinha from './PokemonLinha.vue'

export default {
  name: 'TabelaPokemons',
  props: {
    pokemonsPagina: Array
  },
  components: {
    PokemonLinha
  }
}
</script>

<style scoped>
  table{
    border: .2rem solid #fff;
    background-color: rgb(42, 164, 175); 
    color: #fff;
  }
  th{
    border: .2rem solid #fff;
    background-color: rgb(17, 125, 197);
  }
</style>
