    *{
      margin: 0;
    }

    .container{
      position:absolute;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      box-sizing: border-box;
      background-image: linear-gradient(to top left, #0A021A 20%, #14213D, #253E72, #6A8EAE, #BFDBF7 120%);
    }

    .relogio{
      position:relative;
      display:flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      width: 15rem;
      height: 9rem;
      background-image: radial-gradient(rgb(9, 0, 141), rgb(7, 0, 107), rgb(5, 0, 76), #000019, #000);
      text-align: center;
      box-sizing: border-box;
      border-radius: 1.5rem;
      border: .5rem solid #000;
    }
    
    h1,button{
      position:relative;      
    }

    button{
      display: inline-block;
      width: 5vw;
      font-size: .8rem;
      margin: 0 auto;
      border-radius: 1.2rem;
      background-image: linear-gradient(to top left, rgb(92, 94, 97), #8F9399, #A7ABB2, #B3B7BF, #BFC4CC, #D7DCE5);
      border: 1px solid #5F6266;
    }

    button:active{
      width: 4.7vw;
      font-size: .6rem;
      color: rgb(229, 229, 240);
    }

    h1{
      color: rgb(229, 229, 240);
      font-size: 2.5rem;
      margin-bottom: .8rem;
      margin-top: 1rem;
    }

    .regressivo{
      height: 6rem;
      width: 8rem;
    }

    .tempo-acabando{
      color: rgb(240, 30, 30);
    }
