<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Pokedex - VueJs</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="css/pokedexBoot.css">
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  
  <section id="meuPrimeiroApp"> 
    <div id="tela-busca">
          <span class="red circle">0</span>
          <span class="yellow circle">0</span>
          <span class="green circle">0</span>
      <input type="text" placeholder="de 0 a 802" v-on:blur="buscar()" v-model="idParaBuscar" id="inputId"> 
      <div id="dadosPokemon">   
        <img v-show="pokemon.id" v-bind:src="pokemon.thumbUrl" v-bind:alt="pokemon.nome">       
        <h1 v-show="!pokemon.id">Carregando...</h1>
        <h1 v-show="pokemon.id">{{pokemon.nome}}</h1>  
        <div v-show="pokemon.id" id="mostra-dados">    
          <ul>
            <li id="pokemonAtual">ID: {{pokemon.id}}</li>
            <li >Altura: {{pokemon.altura}}cm</li>
            <li >Peso: {{pokemon.peso}}kg(s)</li>
          </ul>
          <div>
            <ul class="type-stat">
              <h2 v-show="pokemon.id">Tipos:</h2>
              <li v-for="tipo in pokemon.tipos">{{ tipo }}</li>
            </ul>
            <ul class="type-stat">
              <h2 v-show="pokemon.id">Stats:</h2>
              <li v-for="stat in pokemon.stats">{{ stat }}</li>
            </ul>
          </div>
        </div>
      </div>
      <button id="sorte" v-on:click="gerarPokemonAleatorio()">Estou com sorte!</button>
    </div>         
  </section>
  <script src="src/pokeAPI.js"></script>
  <script src="src/pokemon.js"></script>
  <script src="src/pokedex.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
