*{
  margin:0;
  font-size: 1rem;
  font-family: 'Righteous', cursive;
}

#meuPrimeiroApp{
	position:absolute;
	display:flex;
	flex-direction: column;
	box-sizing:border-box;
	align-items: center;
	justify-content: center;		
	width:100vw;
	height:100vh;
	background-image: radial-gradient( rgb(0, 255, 221) 40%,rgb(0, 204, 255) 70%,rgb(0, 140, 255) 120%, rgb(0, 81, 255) 150%,rgb(25, 0, 255) 200%);
}

#tela-busca{
	position: relative;
	border: .2rem solid #000;
	padding: .8rem;
	background-image: radial-gradient(rgb(255, 206, 183),rgb(218, 82, 20) 70%);
	text-align: center;
	margin-left: 40%;
	margin-right: 40%;
  width: 20%;
  border-radius: 2rem 0;
}

#dadosPokemon{
	border: .2rem solid #000;
	margin-top: 1.8rem;
	background-image: radial-gradient( rgb(108, 123, 255), #04168a 160%);
  padding: 1rem;
  border-radius: 1rem;
}

#inputId{
  position:absolute;
  margin-left: 30%;
  right: .5rem;
  margin-top: .5rem;
	width: 40%;
	text-align:center;
	border: .2rem solid #000;
  font-size: .8rem;
  top: 0;
}

#mostra-dados{
  display: flex;
  flex-direction: column;
  border: .1rem solid #000;
  border-radius: 1rem;
	box-sizing: border-box;
  padding-left: 0;
  list-style: none;
  font-size: 1rem;
  padding: .7rem 0;
}

.type-stat li{
  padding-left: 1rem;
}

#mostra-dados li{
  position: relative;
  text-align: left;
  list-style: none;
}

ul{
  position: relative;
  font-style: normal;
  font-size: 1rem;
  text-align: left;
  padding-left: .5rem;
  margin-bottom: 0;
  margin-top: 0;
}

img, #mostra-dados{
  background-image: radial-gradient( rgb(255, 255, 255), #70c4cf 130%);
}

img{
  border: .1rem solid #000;
  border-radius: 1.5rem;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

h1{
  position: relative;
  text-align: left;
	font-size: 1.5rem;
	margin-bottom: .3rem;
}

h2{
  font-size: 1.2rem;
}

p{
	text-align: left;
}

#sorte{
  margin-top: .6rem;
  font-size: .8rem;
  border-radius: .5rem;
}

#sorte:active{
  font-size: .7rem;
}

.red{
  background-color:red;
  color: red;
}

.yellow{
  background-color: yellow;
  color: yellow;
}

.green{
  background-color: green;
  color: green;
}

.circle{
  position: relative;
  width:1rem;
  height:1rem;
  border-radius: 1rem;
  float:left;
  font-size: .1rem;
  border:.1rem solid #000;
  box-sizing:border-box;
  margin-left: .1rem;
}
