<template>
  <div id="app" class="pt-4 pb h-100 w-100">
    <img alt="pokelogo" src="./assets/pokemon-logo.png" class="w-50 mx-auto">
    <router-view></router-view>
  </div>
</template>

<script>
import Login from './components/screens/Login.vue'

export default {
  name: 'app',
  components: {
    Login
  }
}

</script>

<style>
#app, body{
font-family: 'Avenir', Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-align: center;
color: #2c3e50;
background-image: linear-gradient(to right, blue, cyan, blue );
}
*{
font-family: 'Righteous', cursive;
}
.pb{
padding-bottom: 5rem;
}
</style>
