*{
  margin:0;
  font-size: 1rem;
  font-family: 'Righteous', cursive;
}

#meuPrimeiroApp{
	position:absolute;
	display:flex;
	flex-direction: column;
	box-sizing:border-box;
	align-items: center;
	justify-content: center;		
	width:100vw;
	height:100vh;
	background-image: radial-gradient(at center, blue, cyan 90%);
}

#tela-busca{
	position: relative;
	border: .2rem solid #000;
	padding: .8rem;
	background-color: orangered;
	text-align: center;
	margin-left: 40%;
	margin-right: 40%;
  width: 20%;
  border-radius: 2rem 0;
}

#dadosPokemon{
	border: .2rem solid #000;
	margin-top: .5rem;
	background-color: lightblue;
  padding: 1rem;
  border-radius: 1rem;
}

#inputId{
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	text-align:center;
	border: .2rem solid #000;
	font-size: .8rem;
}

#mostra-dados{
  display: flex;
  flex-direction: column;
	border: .1rem solid #000;
	box-sizing: border-box;
	background-color: #fff;
  padding: .3rem;
  list-style: none;
  font-size: 1rem;
}

#mostra-dados li{
  position: relative;
  text-align: left;
  list-style: none;
}

ul{
  position: relative;
  font-style: normal;
  font-size: 1rem;
  text-align: left;
}

img{
  border: .1rem solid #000;
  background-color: #fff;
}

h1{
  position: relative;
  text-align: left;
	font-size: 1.5rem;
	margin-bottom: .3rem;
}

p{
	text-align: left;
}

#sorte{
  margin-top: .5rem;
  font-size: .8rem;
}
